<div class = "user_account_back" style="margin-top: 100px;">
  <h1 class="update-text">Moje konto</h1>

  <div style="float:left; width: 28%; margin-left: 10%;"><hr></div>
  <h2 style="float:left; width: 24%; margin-top: -8px; font-size: 2rem;">Personalne</h2>
  <div style="float:left; width: 28%;"><hr></div>

  <div class="change-avatar">
    <div class="avatar"></div> <%# Dobrze by było dodać do bazy z użytkownikiem informacje na temat jego aktualnego awataru i typie konta%>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field" style="margin-top: -50px;">
    <h1 class="change-data">Nazwa użytkownika</h1>
    <%= f.text_field :username, autofocus: false, autocomplete: "username", class: 'edit-input' %>
  </div>
  <br>
  <br>
  <div style="float:left; width: 28%; margin-left: 10%;"><hr></div>
  <h2 style="float:left; width: 24%; margin-top: -8px; font-size: 2rem;">Prywatność</h2>
  <div style="float:left; width: 28%;"><hr></div>

  <div class="field" style="margin-top: -20px;">
    <h1 class="change-data">Email</h1>
    <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "edit-input" %>
  </div>

  <div class="field" style="margin-top: -40px;">
    <h1 class="change-data">Hasło</h1>
    <%= f.password_field :password, autofocus: false, autocomplete: "password", class: "edit-input" %>
  </div>

  <a class='edit-submit' href=''>Zmień Hasło</a>

  <br>
  <br>
  <div style="float:left; width: 28%; margin-left: 10%;"><hr></div>
  <h2 style="float:left; width: 24%; margin-top: -8px; font-size: 2rem;">Konto</h2>
  <div style="float:left; width: 28%;"><hr></div>

  <div class="field" style="margin-top: -20px;">
    <h1 class="change-data">Typ Konta</h1>
    Viewer/Creator
    <br>
  </div>

  <div class='field' style="margin-top: -40px;">
    <h1 class="change-data">Usuń konto</h1>
    <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'del-account-submit' %>
  </div>

  <div class="field" style="padding: 0 0 0 0;">
      <%= f.submit "Zapisz zmiany ", class: 'confirm_button'%>
      <%# <img src='/save_changes.png' alt='submit' style="width: 20px; height: 20px; margin-left: 10px;"> %>
  </div>
  <br>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% end %>
  
</div>