<div class = "user_account_back" style="margin-top: 100px;">
  <h1 class="update-text">Moje konto</h1>

  <div style="float:left; width: 28%; margin-left: 10%;"><hr></div>
  <h2 style="float:left; width: 24%; margin-top: -8px; font-size: 2rem;">Personalne</h2>
  <div style="float:left; width: 28%;"><hr></div>

  <div class="change-avatar">
    <img src="#actual-avatar" class="avatar">
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field" style="margin-top: -50px;">
    <h1 class="change-data">Nazwa użytkownika</h1>
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'edit-input' %>
  </div>
  <br>
  <br>
  <div style="float:left; width: 28%; margin-left: 10%;"><hr></div>
  <h2 style="float:left; width: 24%; margin-top: -8px; font-size: 2rem;">Prywatność</h2>
  <div style="float:left; width: 28%;"><hr></div>

  <div class="field" style="margin-top: -20px;">
    <h1 class="change-data">Email</h1>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "edit-input" %>
  </div>

  <div class="field" style="margin-top: -40px;">
    <h1 class="change-data">Hasło</h1>
    <%= f.password_field :email, autofocus: true, autocomplete: "password", class: "edit-input" %> <!-- Trzeba zmienić tutaj dane do hasła + dodać aby hasło było ********-->
  </div>

  <%= f.submit "Zmień hasło", class: 'edit-submit' %>

  <br>
  <br>
  <div style="float:left; width: 28%; margin-left: 10%;"><hr></div>
  <h2 style="float:left; width: 24%; margin-top: -8px; font-size: 2rem;">Konto</h2>
  <div style="float:left; width: 28%;"><hr></div>
  


  <% end %>
  
</div>