<div class="user_account_back" style="margin-top: 100px;">
  <h1 class="update-text">Moje konto</h1>

  <div class="edit-info">
    <div style="width: 25%;"><hr></div>
    <h2 class="edit-acc">Personalne</h2>
    <div style="width: 25%;"><hr></div>
  </div>


  <div class="change-avatar">
    <div class="avatar"></div> <%# Dobrze by było dodać do bazy z użytkownikiem informacje na temat jego aktualnego awataru i typie konta#%>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field" style="margin-top: -50px;">
    <h1 class="change-data">Nazwa użytkownika</h1>
    <%= f.text_field :username, autofocus: false, autocomplete: "username", class: 'edit-input' %>
  </div>
  <br>
  <br>

  <div class="edit-info">
    <div style="width: 25%;"><hr></div>
    <h2 class="edit-acc">Prywatność</h2>
    <div style="width: 25%;"><hr></div>
  </div>

  <div class="field" style="margin-top: -50px;">
    <h1 class="change-data">Email</h1>
    <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "edit-input" %>
  </div>

  <div class="field" style="margin-top: -40px;">
    <h1 class="change-data">Hasło</h1>
    <%= f.password_field :password, autofocus: false, autocomplete: "password", class: "edit-input" %>
  </div>

  <div class="field" style="margin-top: -40px;">
    <h1 class="change-data">Powtórz Hasło</h1>
    <%= f.password_field :password_confirmation, autofocus: false, autocomplete: "password", class: "edit-input" %>
  </div>
  <div class="edit-info">
    <div style="width: 33%;"><hr></div>
    <h2 class="edit-acc">Konto</h2>
    <div style="width: 33%;"><hr></div>
  </div>


  <div class="field" style="padding: 0 0 0 0;">
      <%= f.submit "Zapisz zmiany", class: 'confirm_button edit-button' %>
  </div>
  <br>
  

  <% end %>


  <div class='field' style="margin-top: -40px;">
    <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'del-account-submit edit-button' %>
  </div>
  
</div>