<nav class="main-nav">
    <div class="main-menu">
        <%= link_to "Home", root_path, class: 'nav-link' %>
        <%= link_to "Kursy", courses_path, class: 'nav-link'%>
        <%= link_to "About Us", home_about_path, class: 'nav-link'%>
        <%= link_to "Contact", home_contact_path, class: 'nav-link'%>
    </div>
    <div class="main-konto">
        <% if user_signed_in? %>
            <%= link_to  "Moje konto", edit_user_registration_path, class: 'nav-login' %>
        <%end%>
        
        <% if !user_signed_in? %>
            <%= link_to  "Sign in", new_user_session_path, class: 'nav-login' %>
            <%= link_to "Sign up", new_user_registration_path, class: 'nav-login' %>
        <%else%>
            <%= button_to  "Wyloguj", destroy_user_session_path, :method=>'delete' , class: 'nav-login' %> <!-- Partyk tutaj nie ma dużych liter! Poza tym przycisk jest mniejszy od reszty elementów-->
        <%end%>
    </div>
</nav>